.navbar.bg-base-100.shadow-lg
  .navbar-start
    -# Mobile hamburger dropdown
    .dropdown
      %div{ tabindex: "0", role: "button", class: "btn btn-ghost lg:hidden" }
        %svg.h-5.w-5{ xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 24 24", stroke: "currentColor" }
          %path{ "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", d: "M4 6h16M4 12h8m-8 6h16" }
      %ul.menu.menu-sm.dropdown-content.bg-base-100.rounded-box.z-10.mt-3.w-52.p-2.shadow{ tabindex: "0" }
        %li= link_to 'Dashboard', admin_dashboard_path
        %li= link_to 'Sermons', admin_sermons_path
        %li= link_to 'Events', admin_events_path
        %li= link_to 'Pages', admin_pages_path
    = link_to 'Bethel Admin', admin_dashboard_path, class: 'btn btn-ghost text-xl'

  .navbar-center.hidden.lg:flex
    %ul.menu.menu-horizontal.px-1
      %li= link_to 'Dashboard', admin_dashboard_path, class: active_nav_class(admin_dashboard_path)
      %li= link_to 'Sermons', admin_sermons_path, class: active_nav_class(admin_sermons_path)
      %li= link_to 'Events', admin_events_path, class: active_nav_class(admin_events_path)
      %li= link_to 'Pages', admin_pages_path, class: active_nav_class(admin_pages_path)

  .navbar-end.gap-2
    = link_to 'View Site', root_path, class: 'btn btn-ghost btn-sm', target: '_blank'
    = button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline btn-sm'
